.timeline{
    background: linear-gradient(
  135deg,
  oklch(0.12 0.05 265.34) 0%,   /* quase o mesmo que você passou, mas um pouco mais escuro */
  oklch(0.20 0.08 265.34) 50%,  /* tom intermediário */
  oklch(0.28 0.10 265.34) 100%  /* roxo ainda escuro, mas menos fechado */
);

   text-align: center;
   color: white;
   padding-top: 4rem;
}

.timeline h1{
  font-size: 3rem;
}
.timeline-container {
  position: relative;
  padding: 50px 0;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.timeline-line {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 4px;
  background: #444;
  transform: translateX(-50%);
}

.timeline-card {
  position: relative;
  width: 380px;
  height:fit-content;
  padding-top: 20px;
  margin: 40px 0;
  background: #0F172B;
  border-radius: 12px;
  transition: all 0.3s ease;
}
.upperCard{
    background: #162034;
    width: 100%;
    display: flex;
    padding-left: 10px;
    height: 180px;
}
 .upperCard .date{
    border: 0.5px solid rgba(110, 106, 106, 0.527);
    font-size: 0.8rem;
    border-radius: 5px;
    width: fit-content;
    padding: 2px;
    color: white;
    margin-right: 10px;
 }

 .upperCardLeft p , .upperCardLeft h1{
    text-align: left;
    font-size: 1rem;
 }
.upperCardLeft{
    width: 100%;
    padding-top:15px;
    padding-left:15px;

}
.upperCardRight{
    padding-top:15px;
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: flex-start;
    padding-left:15px;
 }

 .description_timeline{
    text-align: left;
    font-size: 1rem;
    padding-left: 15px;
    margin-top: 3rem;
    color: white;
 }

 .timeline-card .linha{
    width: 94%;
    justify-self: center;
    height: 1px;
    background-color: #44444469;
 }

.timeline-card ul{
    gap:5px;
    display: flex;
    flex-direction: column;
    padding-right: 15px;
    padding-left: 25px;
    z-index: 1;
}
.timeline-card li{
    list-style: none;
}
 .timeline-card li:last-of-type{
    margin-bottom: 55px;
}

.AchiementText{
    margin-top: 1.5rem;
    margin-left: 15px;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    text-align: left;
    padding-left: 5px;
}
.timeline-card.left {
  align-self: flex-end;
  margin-right: calc(50% + 40px);
}

.timeline-card.right {
  align-self: flex-start;
  margin-left: calc(50% + 40px);
}

.timeline-card.left .timeline-dot , .timeline-card.right .timeline-dot {
  position: absolute;
  transform: translateX(-50%);
  z-index: 1;
  height: 5px;
  background-color: #444444ee;
}

.timeline-card.right .timeline-dot {
  top: 50px;
  left: -20px;
  width: 45px;
}

.timeline-card.left .timeline-dot {
  top: 50px;
  left: 400px;
  width: 45px;
}

.timeline-card:hover {
  transform: translateY(-8px) scale(1.2); 
}

@media (max-width : 930px) {
    .timeline-container {
  align-content: center;
}

  .timeline-card.left , .timeline-card.right {
    text-align: center;   
    margin: 0 auto;   
    margin-bottom: 2rem;    

}
.timeline-card.left .timeline-dot , .timeline-card.right .timeline-dot {
  display: none;
}
}

@media (max-width: 400px) {
  .timeline-card {
    width: 100%;        
    max-width: 360px;   
    margin: 20px auto; 
  }
}