.cardHolder{
    display: flex;
    justify-content : center;
    flex-wrap : wrap;
    position : relative;
}

.projects_section{
     background-color:oklch(0.14 0.05 265.34); 
     padding-top : 3rem;
     height: 100%;
     width: 100%;
}

.title , p{
    text-align: center;
    margin-bottom: 1.5rem;
}

.title{
    color: white;
}

p {
    color: oklch(.704 .04 256.788);
    font-size: 1.2rem;
}

