.educard{
    background-color: #0F172B;
    width: fit-content;
    height: 200px;
    display: flex;
    color: white;
    text-align: left;
    border : 2px solid gray;
    margin-bottom: 1rem;
    border-radius: 15px;
    overflow: hidden;
    word-wrap: break-word;   /* quebra palavra longa */
    overflow-wrap: break-word;
}


.educard .left , .educard .right{
    width: 100%;
}

.educard .left{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 0rem;
    padding: 1rem;

}

.educard .right {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
}

.educard .nome{
    font-size: 1rem;
    color: white;
    font-weight: bold;
    text-align: left;
    margin: 0px;
}

.educard .uni{
    font-size: 0.8rem;
    text-align: left;
    margin-bottom: rem;
}

.educard .data{
    font-size: 0.8rem;
    text-align: left;
}

.educard .lugar{
    font-size:0.8rem;
}